.login-form{
    width: 321px;
    position: relative;
    left: 555px;
    top: 200px;
}
.hi{
    text-align: center;
    margin-top: 16px;
    font-family: Raleway;
    font-style: SemiBold;
    font-size: 26px;
}
.login-form-button{
    background-color: #1D1F22;
    width: 320px;
    height: 42px;
    border-radius: 0px;
    font-family: Raleway;
    font-style: SemiBold;
    font-size: 16px;
    padding-top: 7px;
    
}
.hai{
    margin-left: 111px;
    color: #1D1F22;
    text-decoration: underline;
    font-size: medium;
    font-style: Regular;
    font-size: 16px;
    font-family: Raleway;
}

.input{
    border-bottom: #43464E;
}
.ant-checkbox-checked .ant-checkbox-inner{
    background-color: black;
    border-color:black ;
}
.ant-checkbox+span{
    font-family: Raleway;
    font-style: Regular;
    font-size: 16px;
}
